<h1>Fill the form</h1>
<form [formGroup]="createcourse" (ngSubmit)="onSubmit()" novalidate> 
    <p>
        <label for="courseid">Course ID</label>
        <input type="number" name="courseid" id="courseid" formControlName="courseid">
    </p>
    <p>
        <label for="coursename">Course name</label>
        <input type="text" name="coursename" id="coursename" formControlName="coursename">
    </p>
    <p>
        <label for="department">Department</label>
        <input type="text" name="department" id="department" formControlName="department">
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>